{{define "subject"}}Bitcoin Summary {{.summaryDate}}{{end}}

{{define "plainBody"}}
Today's Bitcoin News is:
{{.summary}}
Thanks
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Today's Bitcoin News is:</p>
    <p>{{.summary}}</p>
    <p>Thanks</p>
</body>

</html>
{{end}}